:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('background-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-page {
  display: flex;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  width: 20%;
  margin: 0;
  border-right: 2px solid green;
}

.side-menu h2 {
  text-align: center;
  margin: 0 0 2em 0;
  padding-top: 2em;
  font-size: 2em;
  color: rgb(5, 76, 5);
}

.side-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.side-buttons button {
  font-size: 1.5em;
  width: 7em;
  padding: 0.4em 0;
  background-color: rgb(28, 74, 5);
  color: azure;
  border-radius: 0.2em;
  box-shadow: 0 0.5em 0.5em -0.2em rgb(28, 74, 5);
  border: none;
}

.side-buttons button:hover {
  font-size: 1.5em;
  width: 10em;
  padding: 0.4em 0;
  background-color: rgb(35, 93, 6);
  color: rgb(235, 232, 48);
  transform: translateY(-0.15em);
  border-radius: 0.2em;
  box-shadow: 0 0.3em 0.3em -0.1em rgb(28, 74, 5);
  border: none;
}

.content-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-page header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-page header img {
  width: 10em;
  margin-top: 3em;
  border-radius: 30%;
  object-fit: contain;
}

.content-page header h1 {
  font-size: 3em;
}

.cities-content {
  max-width: 85em;
  margin: 2em auto;
  padding: 1em;
}

.cities {
  max-width: 80em;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-auto-rows: 20em;
  grid-gap: 2em;
  margin: 2em auto;
  padding: 0;
}

.city {
  position: relative;
  height: 20em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* background-color: blue; */
}

.city button {
  display: flex;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0;
}

.city img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.city h2 {
  position: absolute;
  font-size: 1.2em;
  bottom: 0;
  right: 1em;
  margin: 1em auto;
  color: antiquewhite;
  font-weight: bold;
  padding: 0.15em 0.35em;
}
